li a:hover {
    background-color: #fff;
}

li:nth-child(1) a::after,
li a::after {
  content: "";
  position: absolute;
  background-color: #64bbfc;
  height: 1px;
  width: 100%;
  bottom: 7px;
  left: 0;
  transform: scale(0);
  transition: 0.3s linear;
}

li a:hover,
li a:hover::after {
  transform: scale(1);
  color: #64bbfc;
}

.navbar.active {
  box-shadow: 0 0 13px 3px hsl(0deg 0% 62% / 41%);
  background-color: hsla(0,0%,100%,.53);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}