li a:hover {
  background-color: inherit;
}

li a::after {
  content: "";
  position: absolute;
  background-color: #64bbfc;
  height: 1px;
  width: 100%;
  bottom: 7px;
  left: 0;
  transform: scale(0);
  transition: 0.3s linear;
}

li a:hover,
li a:hover::after {
  transform: scale(1);
}

.navbar.active {
  transition: .2s ease-in-out;
  box-shadow: 0 0 13px 3px hsl(0deg 0% 62% / 41%);
  background-image: linear-gradient(to right, rgba(127, 139, 227, .3), rgba(100, 187, 252, .3));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: none !important;
}
